body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background: #F2EFEB;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 35%;
    padding-top: 3%;
    margin-top: 0;
}

.filter-shrink {
    height: 15%;
}

.task-previews {
    flex: 2;
    margin: 0 auto;
}

/*HEADINGS STYLES*/

.categories-container {
    margin: 0 auto;
    max-height: 100%;
    overflow-y: scroll;
    position: relative;
    flex: 1;
}

.category-container {
    margin: 0 auto;
    max-height: 100%;
    overflow-y: scroll;
    position: relative;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category-heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 90vw;
    background: beige;
    margin: 20px;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.category-heading:hover {
    filter: brightness(.75);
}

.category-info-container {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 5%;
}

.category-info-container h2 {
    font-size: 5em;
    margin: 2.5% 0 0 0;
    flex: 1;
}

.category-info-container h3 {
    font-size: 2.5em;
    margin: 0 0 2.5% 2.5%;
    font-weight: normal;
    flex: 2;
}

.category-heading img {
    flex: .75;
    width: 5%;
    color: #566373;
    margin: auto 5%;
}

.category-gradient {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100vw;
    height: 10em;
    background-image: linear-gradient(rgba(242, 239, 235, 0), #f2efeb, #f2efeb);
}

/*TASK PREVIEW STYLES*/

.task-preview-container {
    position: relative;
    background: #E8E2DE;
    padding: 5% 0 0 0;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    height: 70%;
}

.task-previews {
    height: 85%;
}

.filter-grow {
    height: 80%;
    flex: none;
}

.task-preview {
    display: flex;
    flex-direction: row;
    height: 20em;
    width: 95%;
    background: #DAD4D1;
    border-radius: 15px;
    margin: 25px auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.task-preview-complete {
    background: rgba(170, 186, 188, 0.45);
    color: rgba(128, 128, 128, 0.58);
}

.task-preview-complete > .task-preview-check {
    background: #889BA3;
}

.task-preview-body {
    flex: 8;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "preview-heading"
        "preview-desc";
    margin: 0 0 0 5%;
    max-width: 100%;
}

.preview-heading-container {
    grid-area: preview-heading;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "preview-heading preview-date"
        "preview-category preview-category";
    column-gap: 15px;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    white-space: nowrap;
    margin: 5% 0 0 0;
    max-width:90%;
    overflow: hidden;
}

.task-preview-heading {
    font-size: 3em;
    grid-area: preview-heading;
    align-self: center;
    margin: 0;
}

.task-preview-date {
    font-size: 2em;
    grid-area: preview-date;
    align-self: center;
    font-weight: lighter;
    margin: 0;
}

.task-preview-category {
    grid-area: preview-category;
    font-size: 2em;
    margin: 1% 0 0 0;
    color: #889BA3;
}

.task-preview-desc {
    grid-area: preview-desc;
    margin: 1.5% 0 0 0;
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 150%;
}

.task-preview-checkbox {
    height: 100%;
    display: grid;
    flex-direction: column;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-areas:
    "checkbox";
    justify-content: center;
    position: relative;
    margin: 0 5px 0 0;
}

.task-preview-input {
    width: 50px;
    height: 50px;
    border: none;
    margin: 0;
    grid-area: checkbox;
    position: relative;
    z-index: 100;
    opacity: 0;
}

.custom-checkbox {
    width: 50px;
    height: 50px;
    background: none;
    border: #889BA3 10px solid;
    border-radius: 10px;
    margin: 0;
    grid-area: checkbox;
    position: relative;
    z-index: auto;
}

.task-preview-input:checked + .custom-checkbox{
    background-color: #889BA3;
}

/*FLOATING ACTION BUTTON*/
footer {
    position: relative;
}

.quick-add-button {
    position: sticky;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
    width: 15em;
    height: 10em;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.quick-add-button img {
    color: white;
    width: 25%;
}

.compose-container {
    width: 100vw;
    height: 75vh;
    position: absolute;
    z-index: 150;
    top: 5%;
}

.hidden {
    display: none;
}

.compose-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 65%;
    margin: 0 auto;
    background: #DAD4D1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.compose-container > form > button {
    border: none;
    background: #566373;
    color: #F2EFEB;
    margin: 5px 0 2px 0;
    font-weight: bolder;
    font-size: 5em;
    border-radius: 25px;
}

.pair-container {
    display: flex;
    flex-direction: column;
}

.pair-container > label {
    margin: 5px 0 2px 0;
    font-weight: bolder;
    font-size: 4em;
    border-radius: 25px;
}

.pair-container > input, .pair-container > select, .pair-container > textarea {
    border: none;
    border-radius: 10px;
    background: #F2EFEB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.pair-container > input, .pair-container > select {
    height: 2.5em;
    font-size: 3.5em;
    padding: 0;
}

.categorySelect > option {
    font-size: .25em;
}

.pair-container form > button {
    border: none;
    background: #566373;
    color: #F2EFEB;
    border-radius: 5px;
    margin-top: 10px;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
}